<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
     point="org.eclipse.ui.commands">
     <category
        id="localization.commands.category"
        name="Localization">
      </category>
      <command
		    categoryId="localization.commands.category"
		    id="localization.commands.instrument"
		    name="Instrument">
      </command>
      <command
		    categoryId="localization.commands.category"
		    id="localization.commands.deinstrument"
		    name="DeInstrument">
      </command>
      <command
		    categoryId="localization.commands.category"
		    id="localization.commands.codeformat"
		    name="Code Format">
      </command>
      <command
		    categoryId="localization.commands.category"
		    id="localization.commands.runtest"
		    name="Run Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="localization.instrument.handler.InstrumentHandler"
            commandId="localization.commands.instrument">
      </handler>
      <handler
            class="localization.instrument.handler.DeInstrumentHandler"
            commandId="localization.commands.deinstrument">
      </handler>
      <handler
            class="localization.codeformat.handler.CodeFormatHandler"
            commandId="localization.commands.codeformat">
      </handler>
      <handler
            class="localization.runtest.handler.RunTestHandler"
            commandId="localization.commands.runtest">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="localization.menus.sampleMenu"
               label="Localization"
               mnemonic="M">
            <command
                  commandId="localization.commands.instrument"
                  id="localozation.menus.instrument">
            </command>
            <command
                  commandId="localization.commands.deinstrument"
                  id="localozation.menus.deinstrument">
            </command>
            <command
                  commandId="localization.commands.codeformat"
                  id="localozation.menus.codeformat">
            </command>
            <command
                  commandId="localization.commands.runtest"
                  id="localozation.menus.runtest">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
</plugin>
